[Unit]
Description=GPS Loop

[Service]
Type=simple
ExecStart=/usr/share/wearablepie/scripts/gpsservice.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target